<div class="content">
	<div class="row">
		<div class="col-sm-12">
			<button (click)="generateRUTButton()">Generate RUT</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="input-group">
				<input type="text" class="form-control" [(ngModel)]="generatedRUT" placeholder="content will be copy after click the copy button">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ngxClipboard [cbContent]="generatedRUT">copy</button>
				</span>
			</div>
		</div>
	</div>
</div>
